
/*Color theme (Dune)*/
@define-color bg rgba(228, 85, 52, 0.5);
@define-color bg-accent rgba(228, 85, 52, 1);
@define-color fg rgba(255, 170, 116, 1);

* {
    font-family: Roboto, Helvetica, blackArial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background: transparent;
}

/* Tooltip */

tooltip {
  background: @bg;
  border: 1px solid rgba(80, 123, 156, 0.5);
}

tooltip label {
  color: white;
}

/* Modules */
.modules-left, .modules-right, .modules-center {
    margin: 6px;
}

/* Style window module */

#window {
    background-color: @bg;
    font-size: 1px;
    padding: 1px 3px;
}

/* Style workspace module */

#workspaces {
    background-color: @bg;
    padding: 3px 7px;
    border-radius: 14px;
    border: 1.5px solid @bg;
}

#workspaces button {
    background-color: @bg;
    color: transparent;
    margin: 0 2px;
}

#workspaces button.hover {
    background: #64727D;
}

#workspaces button.active {
    background: @fg;
}

/* Style clock module */

#clock {
    background-color: @bg;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0px 10px;
    color: @fg;
    border: 1.5px solid @bg-accent;
}

/* Style Hyprland/window module */

#window {
    background-color: @bg;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0px 10px;
    color: @fg;
    border: 1.5px solid @bg-accent;
}

/* Style battery module */

#battery {
    background-color: @bg;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0px 10px;
    color: @fg;
    border: 1.5px solid @bg-accent;
}

/* Style network module */

#network {
    background-color: @bg;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0px 10px;
    color: @fg;
    border: 1.5px solid @bg-accent;
}

/* Style bluetooth module */

#bluetooth {
    background-color: @bg;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0px 10px;
    color: @fg;
    border: 1.5px solid @bg-accent;
}

/* Style pulseaudio module */

#pulseaudio {
    background-color: @bg;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0px 10px;
    color: @fg;
    border: 1.5px solid @bg-accent;
}